<ol class="category-list">
  <li>
    <article class="category">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
      </div>
      <div class="meta">
        {{vote_count}} point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/category/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
</ol>